body, html {
    height: 100%;
  }
  
  .bg {
    /* The image used */
    background-image: url("../img/Background.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

h1{
    text-align: left;
    color: #ffffff;
    margin-top: 2rem;
}

.form-group {
  color: white;
}

#register_if_you_havent{
  color: #007bff;
}

.error{
  color: white;
}

.anerror {
  color:white
  
}